.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:#EAEAE8;
    z-index: 999;
  }
  
  .loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }